

<div class="container">
  <h2 class="text-center"> PROYECTOS</h2>
  <br>


  <p class="text-center" ><%= link_to '', new_pin_path, :class => "btn btn-default btn-lg glyphicon glyphicon-plus", :style =>"color: grey" %></p>
  <div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>

    <div class="box panel panel-default">

      <div class="thumbnail">

        <%= image_tag(pin.photo, :class => 'img-responsive') %>
      </div>
      
      <h4 style="color: #464343; font-family: 'Source Sans Pro', sans-serif;
      " class="text-center"><%= pin.name %></h4>
      <p class="text-center">
        <p style="font-size: 12px; padding-left: 15px; ">De&nbsp;<a href="<%= pins_path %>"><%= pin.user.email %></a></p>
        <p style="color: #2F7F9E; padding-left: 15px" > <%= pin.category.name %></p>
      </p>
      <hr>
      <div class="pad">
        <p align="justify" style="letter-spacing: 0px; word-spacing: -2px;"><%= pin.description %></p>
        <div style="padding-left: 50px;" class="text-center">




          <div style="font-size: 17px" class="vote-count bind-<%= pin.id %>">
           <%= link_to '', pin, :class => "glyphicon glyphicon-eye-open", :style => " font-size:17px" %> 


            <div class="ri">
           <%= link_to like_pin_path(pin), :remote => true, method: :put, class: 'vpos' do %>
           <i class="glyphicon glyphicon-thumbs-up"></i>
           <span class="vcount-<%= pin.id %>"><%= pin.get_upvotes.size %></span>
           <% end %>
&nbsp;

          

           <%= link_to dislike_pin_path(pin), :remote => true, method: :put, class: 'npos', :style => "color:red" do %>
           <i class="glyphicon glyphicon-thumbs-down"></i>
           <span class="ncount-<%= pin.id %>"><%= pin.get_downvotes.size %></span>
           <% end %>
           </div>
         </div>
       </div>
     </div>

   </div>




   <% end %>

 </div>  

</div>



<style>

  .ri{
    float: right;
  }
  .pad{

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    word-wrap: break-word;
  }


  hr{
    margin-top: 5px;

  }
  .box{
    border-radius: 5px;
    box-shadow: grey  2px 2px 10px ;
  }

  .thumbnail{
    box-shadow: grey  1px 1px 1px ;
  }

  .red{
    color: #FC4545 !important;
  }

</style>

