<div class="color">
  <p id="notice"><%= notice %></p>

  <div class="container">
    <h1 style="color:grey;">Mis Proyectos</h1>



<p class="text-center" ><%= link_to 'Nuevo Pin', new_pin_path, :class => "btn btn-success" %></p>
    <div id="pins" class="transitions-enabled">
      <% @pins.each do |pin| %>
      <div class="box panel panel-default">

        <div class="thumbnail">
          <%= image_tag(pin.photo, :class => 'img-responsive') %>
        </div>
                <h3 style="color: #464343; font-family: 'Source Sans Pro', sans-serif;
        " class="text-center"><%= pin.name %></h3>
      <p class="text-center">De&nbsp;<a href="<%= mypins_path %>"><%= pin.user.email %></a></p>
              <div class="pad">


        <p><%= pin.description %></p>
        <div class="text-center">
          <%= link_to 'ver', pin, :class => "btn" %>
          <% if user_signed_in? %>
          <%= link_to 'Editar', edit_pin_path(pin), :class => "btn" %>
          <%= link_to 'Eliminar', pin, :class => "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </div>
        </div>
      </div>  
      <% end %>

    </div>  

  </div>
</div>

<style>
  .pad{
    padding: 10px;
  }

  .thumbnail:hover{
    color: red;

  }
</style>
