


<div class="container">


  <h3 class="text-center" style="color:grey;"><%= @user %></h3>
  <br>

 
  <div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>
    <div class="box panel panel-default">

      <div class="thumbnail">

        <%= image_tag(pin.photo, :class => 'img-responsive') %>
      </div>
      
      <h4 style="color: #464343; font-family: 'Source Sans Pro', sans-serif;
      " class="text-center"><%= pin.name %></h4>
      <p class="text-center">
        <span style="font-size: 12px; padding-right: 5px; border-right: 1px solid grey">De&nbsp;<a href="<%= pins_path %>"><%= pin.user.email %></a></span>
        <span style="color: #40C2C9;" > <%= pin.category.name %></span>
      </p>
      <hr>
      <div class="pad">
        <p><%= pin.description %></p>
        <div class="text-center">
          <%= link_to '', pin, :class => "glyphicon glyphicon-eye-open", :style => "color:grey; font-size:18px" %> &nbsp &nbsp <a href="" class="glyphicon glyphicon-thumbs-up" style="font-size: 18px; color:grey"></a>
          <% if user_signed_in? %>
          
          <% end %>
        </div>
      </div>
    </div>  
    <% end %>

  </div>  



  <style>
    .pad{

      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 10px;
      word-wrap: break-word;
      }


    hr{
      margin-top: 5px;

    }
    .box{
      border-radius: 5px;
      box-shadow: grey  2px 2px 10px ;
    }

    .thumbnail{
      box-shadow: grey  1px 1px 1px ;
    }

  </style>

