
  <p id="notice"><%= notice %></p>

  <div class="container">
      <h3 style="color:grey; margin-left: 50px;">Proyectos</h3>


    <div id="pins" class="transitions-enabled">
      <% @pins.each do |pin| %>
      <div class="box panel panel-default">

        <div class="thumbnail">
          <%= image_tag(pin.photo, :class => 'img-responsive') %>
        </div>
        
        <h4 style="color: #464343; font-family: 'Source Sans Pro', sans-serif;
        " class="text-center"><%= pin.name %></h4>
      <p style="font-size: 12px;" class="text-center">De&nbsp;<a href="<%= pins_path %>"><%= pin.user.email %></a></p>
      <p style="color:grey" class="text-center"> <%= pin.category %></p>
              <hr>
        <div class="pad">
        <p class="text-justify" style="color: ; word-spacing: -1px; font-size: 13px; "><%= pin.description %></p>
               <div class="text-center">
          <%= link_to 'ver', pin, :class => "btn" %>
          <% if user_signed_in? %>
          <%= link_to 'Editar', edit_pin_path(pin), :class => "btn" %>
          <%= link_to 'Eliminar', pin, :class => "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </div>
        </div>
            </div>  
      <% end %>

    </div>  

  </div>

<style>
  .pad{
 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .thumbnail:hover{
    color: red;

  }

  hr{
    margin-top: 5px;

  }
  .box{
    border-radius: 5px;
  }

</style>

