<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="well">

				<h3 class="text-center"><%= @pin.name %></h3>
				<div class="thumbnail">
					<p><%= image_tag(@pin.photo, :style => "width:800px", :class => "img-responsive") %></p>
				</div>
				<div class="pad">
					<p><%= @pin.description %></p>
				</div> 
				<div class="text-center">
				<div class="left">
				<%= link_to '', pins_path, :style => "color:grey; font-size:18px;" ,:class => "glyphicon glyphicon-arrow-left" %>
				</div>
				<% if user_signed_in? %>
				<%= link_to '', edit_pin_path(@pin), :class => "glyphicon glyphicon-edit", :style => "color:grey; font-size:18px" %> &nbsp &nbsp
				<%	end %>
				<%= link_to "", pinsof_path(@pin.user.id), :class => "glyphicon glyphicon-user", :style => "color:grey; font-size:18px"  %>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.pad{
		word-wrap: break-word;
	}

	.left{
		float: left;
	}
</style>